@{
    Layout = "~/Views/Shared/_landingLayout.cshtml";
    
}

<section class="content">
    <div class="callout callout-info">
        <h3>Account Activated</h3>
        <p>You can now use the Username and Password sent to your email. <br /> Thank you!</p>
    </div>
</section>