@{
   Layout = "~/Views/Shared/_landingLayout.cshtml"; ;
}

<!DOCTYPE html>


    @using (Html.BeginForm())
    {
        <section class="content">
            <div class="callout callout-info">
                <h3>Check Registered Email</h3>
                <p>A message has been sent to your email. Kindly check you email after a few minutes.</p>
            </div>
        </section>
        
        
           
           
            }




