@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Index";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin View</title>
    <link rel="stylesheet" type="text/css" href="dvdcss.css" media="screen" />
</head>
<body>
    <div class="adminheader">
        <h1>Administrator View</h1>
        <p>Welcome to the RCTPL Administrator Dashboard. Navigate through the site through the left sidebard. If you have concerns, you may contact our developers at RDMS, Inc.</p>
    </div>
</body>
</html>





