

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABIC</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/ContentRD/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/ContentRD/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/ContentRD/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/ContentRD/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/ContentRD/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/ContentRD/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><![endif]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    

</head>

<body>



    @*@if (Session["LoggedUserId"] != null)
        {*@

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-brand navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="/WEBUSERS/StartPage">Allied Bankers Insurance Corporation</a>*@
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @*<li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>*@
                        <li>
                            <a href="/WEBUSERS/StartPage"><i class="fa fa-home fa-fw"></i>Main</a>
                        </li>
                        <li>
                            <a href="/WEBUSERS/Create"><i class="fa fa-user fa-fw"></i>Register</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/WEBUSERS/Index"><i class="fa fa-sign-in fa-fw"></i>Login</a>
                        </li>
                    </ul>
                   
                </li>
            
            </ul>
           
        </nav>


    </div>
  <div class="row" style="padding-top:65px">
      @RenderBody()
  </div>

    

    <!-- jQuery -->
    <script src="~/ContentRD/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/ContentRD/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/ContentRD/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/ContentRD/bower_components/raphael/raphael-min.js"></script>
    <script src="~/ContentRD/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/ContentRD/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/ContentRD/dist/js/sb-admin-2.js"></script>

    <script>
        $(function () {
            $("#employeeLink").on("click", function (e) {
                e.preventDefault(); // cancel the link itself
                $.post(this.href, function (data) {
                    $("#someContainer").html(data);
                });
            });

            $("#CPwordModal").on("click", function (e) {
                var password = $("#newPass").val();
                $("#CNewpassword").html(password == $(this).val()
                    ? "Passwor Match."
                    : "Password do not Match!"

                    );
            });
        });
    </script>


    <style>
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
        }

            #bg img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                min-width: 50%;
                min-height: 50%;
            }
    </style>

</body>
</html>
