@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
onPay form to integrate into the website

<form action="http://test.dragonpay.ph/Pay.aspx" method="get">
    <input type="HIDDEN" name="merchantid" value="****">
    <input type="HIDDEN" name="txnid" value="56">
    <input type="HIDDEN" name="amount" value="1000.00">
    <input type="HIDDEN" name="ccy" value="PHP">
    <input type="HIDDEN" name="description" value="Order Of Dec 2013">
    <input type="HIDDEN" name="email" value="rupaknpl@gmail.com">
    <input type="HIDDEN" name="digest" value="e66ec5ac75d9816ff3a4f88889e592223868673a">
    <div class="buttons">
        <div class="right">
            <input type="submit" value="Confirm Order" class="button">
        </div>
    </div>
</form>

<form action="http://test.dragonpay.ph/Pay.aspx" method="get">
    <input type="HIDDEN" name="merchantid" value="****">
    <input type="HIDDEN" name="txnid" value="56">
    <input type="HIDDEN" name="amount" value="1000.00">
    <input type="HIDDEN" name="ccy" value="PHP">
    <input type="HIDDEN" name="description" value="Order Of Dec 2013">
    <input type="HIDDEN" name="email" value="rupaknpl@gmail.com">
    <input type="HIDDEN" name="digest" value="e66ec5ac75d9816ff3a4f88889e592223868673a">
    <div class="buttons">
        <div class="right">
            <input type="submit" value="Confirm Order" class="button">
        </div>
    </div>
</form>