@{
    ViewBag.Title = "Home Page";

}


    <div class="container" style="background-color:white">
        <!--Start Body-->
        @*<div class="col-sm-7 col-md-6 col-lg-8">*@
            <div class="col-md-11">
                <div class="box-body btn-block">
                    <img src="~/resources/MalayanHome.jpg" alt="" style="width:100%" />
                </div>
            </div>
           
        @*</div>*@
    </div>

                @*<div class="container">
              
                    <section class="content">
                        <div class="callout callout-info">
                            <h4>Welcome to RCTPL Home Page</h4>
                            <p>Design is not yet complete.</p>
                        </div>
                        <div class="callout callout-danger">
                            <h4>Warning!</h4>
                            <p>Amazing Website</p>
                        </div>

                    </section>
                </div>*@






