@{
    ViewBag.Title = "Home Page";  
    
}


            <div class="container">
             
               

                <!-- Main content -->
                <section class="content">
                    <div class="callout callout-info">
                        <h4>Welcome to RCTPL Home Page</h4>
                        <p>Design is not yet complete.</p>
                    </div>
                    <div class="callout callout-danger">
                        <h4>Warning!</h4>
                        <p>Amazing Website</p>
                    </div>
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Developers</h3>
                        </div>
                        <div class="box-body">
                            Head Developer: <b>Richmer Estacion</b> <br />          Assistant Head Developer: <b>David Barredo</b>   <br />          Assistant of Assistant Web Developer: <b>Roger Lucero</b>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                 





                </section><!-- /.content -->
            </div><!-- /.container -->



    


