
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Maintenance</title>
</head>
<body>
    <div>
        <h2>Maintenance Page</h2>
    </div>
</body>
</html>


